<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CCHDO{% block title %}{% endblock %}</title>
    <link href="/static/lib/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
body {
  padding-bottom: 30px;
}
    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
      background-color: #FFD6D6;
    }
    </style>
    {% block css %}{% endblock %}
  </head>
  <body>
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              <img height="25px" width="25px" alt="Brand" src="/static/svg/logo_cchdo.svg">
            </a>
            <a class="navbar-brand" href="/">
              CCHDO</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="/">Home</span></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Find Data <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/search/map">Map Search</a></li>
                  <li class="divider"></li>
                  <li><a href="/search?bbox=-180,65,180,90">Arcitc Ocean Data</a></li>
                  <li><a href="/search?bbox=-75,-60,20,65">Atlantic Ocean Data</a></li>
                  <li><a href="/search?bbox=120,-60,-75,65">Pacific Ocean Data</a></li>
                  <li><a href="/search?bbox=21,-70,120,23">Indian Ocean Data</a></li>
                  <li><a href="/search?bbox=-180,-90,180,-40">Southern Ocean Data</a></li>
                  <li class="divider"></li>
                  <li><a href="/search?q=GO-SHIP">GO-SHIP Data</a></li>
                  <li><a href="/search?q=USHYDRO">USHYDRO Data</a></li>
                  <li><a href="/search?q=WOCE">WOCE Data</a></li>
                  <li><a href="/search?q=DIMES">DIMES Data</a></li>
                  <li><a href="/search?q=ELLETT">ELLETT Data</a></li>
                  <li><a href="/search?q=CARINA">Project Carina Data</a></li>
                  <li class="divider"></li>
                  <li><a href="/search?q=PRS02">HOT Data</a></li>
                  <li><a href="/search?q=BATS">BATS Data</a></li>
                  <li class="divider"></li>
                  <li><a href="/search/advanced">Advanced Search</a></li>
                </ul>
              </li>
              <li><a href="/submit">Submit Data</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Information<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/contact">Contact</a></li>
                  <li><a href="/policy">Manuals <i>and</i> Policy</a></li>
                  <li><a href="/formats">File Formats <i>and</i> Paramters</a></li>
                  <li class="divider"></li>
                  <li><a href="/login">User Login</a></li>
                </ul>
              </li>
            {% if current_user.has_role('staff') or current_user.has_role('superuser') %}
              <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{current_user.email}}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/staff/me">{{current_user.email}} User Page</a></li>
                  {% if current_user.has_role('superuser') %}
                  <li><a href="#">Manage Users</a></li>
                  {% endif %}
                  {% if current_user.has_role('submissions') or current_user.has_role('superuser') %}
                  <li><a href="#">Submissions</a></li>
                  {% endif %}
                  {% if current_user.has_role('staff') or current_user.has_role('superuser') %}
                  <li><a href="#">Manage Cruises</a></li>
                  <li><a href="/staff/files">Manage Files</a></li>
                  {% endif %}
                  <li><a href="#">API Documentation</a></li>
                  <li><a href="#">CCHDO Ops Manual</a></li>
                  <li class="divider"></li>
                  <li><a href="/logout">Logout</a></li>
                </ul>
              </li>
            {% endif %}
            </ul>
            <form method="get" action="/search" class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                  <input name='q' id='cchdo_search' autocomplete="off" type="search" class="form-control" placeholder="" value="{%if term is not none %}{{term}}{%endif%}">
                  <span class="input-group-btn">
                    <button  class="btn btn-default" type="submit">Search</button>
                  </span>
                </div>
              </div>
            </form>
          </div><!-- /.navbar-collapse -->
        </div>
      </nav>

      <div class="{% if fluid %}container-fluid{% else %}container{% endif %}">
        {% block content %}

        <div class="row">
          <div class='col-md-4'>
            <div class='panel panel-default'>
              <div class='panel-heading'>
                <h3 class='panel-title'>Map Search</h3>
              </div>
              <div class='panel-body'>
              </div>
              <!-- close panel-body -->
            </div><!-- end panel, map adv searc-->
            <div class='panel panel-default'>
              <div class='panel-heading'>
                <h3 class='panel-title'>Advanced Search</h3>
              </div>
              <div class='panel-body'>
              </div>
              <!-- close panel-body -->
            </div><!-- end panel, map adv searc-->
          </div><!-- end left column, map adv search-->
          <div class='col-md-4'>
            <div class='panel panel-default'>
              <div class='panel-heading'>
                <h3 class='panel-title'>Search by Basin</h3>
              </div>
              <!--<div class='panel-body'>
              </div>-->
              <!-- close panel-body -->
              <ul class="list-group">
                <li class="list-group-item">Atlantic</li>
                <li class="list-group-item">Pacific</li>
                <li class="list-group-item">Indian</li>
                <li class="list-group-item">Arctic</li>
                <li class="list-group-item">Antarctic</li>
              </ul>
            </div><!-- end panel, basin searc-->

          </div><!-- end right column, basin search-->
        </div><!-- end second row-->
        <div class="row">
          <div class='col-md-12'>
            <div class='panel panel-default'>
              <div class='panel-heading'>
                <h3 class='panel-title'>Welcome to the CCHDO</h3>
              </div>
              <div class='panel-body'>
                <p>The CCHDO's primary mission is to deliver the highest possible quality global CTD and hydrographic data to users. These data are a product of decades of observations related to the physical characteristics of ocean waters carried out during WOCE, CLIVAR and numerous other oceanographic research programs. Whenever possible we provide these data in three easy-to-use formats: WHP-Exchange (which we recommend for data submissions to the CCHDO), WOCE, and netCDF.</p>
		<p>The CCHDO also manages public and non-public CTD data to be used for the global Argo and OceanSITES programs.</p>
		<p>This site is funded by the National Science Foundation and the National Oceanic and Atmospheric Administration's Climate Observations Division.</p>
              </div>
              <!-- close panel-body -->
            </div><!--end panel, welcome paragraph-->
          </div><!-- end top column, welcome paragraph-->
        </div><!-- end top row-->

        <div class="row">

	  <img src="/static/svg/logo_clivar.svg" alt="CLIVAR logo"><img src="static/svg/logo_noaa.svg" alt="NOAA logo" height="60" width="95">
	  <img src="/static/svg/logo_nsf.svg" alt="NSF logo"><img src="static/svg/logo_noaa.svg" alt="NOAA logo" height="60" width="60">
	  <img src="/static/svg/logo_noaa.svg" alt="NOAA logo"><img src="static/svg/logo_noaa.svg" alt="NOAA logo" height="60" width="60">
	  <img src="/static/svg/logo_sio_color.svg" alt="SIO logo"><img src="static/svg/logo_noaa.svg" alt="NOAA logo" height="60" width="60">



        </div><!-- end third row icons-->




        {% endblock %}
      </div>

    <script src="/static/lib/jquery/2.1.3/jquery-2.1.3.min.js"></script>
    <script src="/static/lib/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="/static/lib/typeahead/d5d71f28b0/bootstrap3-typeahead.min.js"></script>
    <script>
    var typeahead_data = {{search_data|safe}};
    $('#cchdo_search').typeahead({
      source:typeahead_data,
      autoSelect: false
    });
    </script>
    {% block js %}{% endblock %}
  </body>
</html>
